<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Title }} | {{ .Site.Title }}</title>

{{/* Compile SCSS first, then run PostCSS/Tailwind, then minify & fingerprint
*/}} {{ $sass := resources.Get "scss/main.scss" | toCSS }} {{ $styles := $sass |
postCSS (dict "config" "postcss.config.js") | minify | fingerprint }}
<link
  rel="stylesheet"
  href="{{ $styles.RelPermalink }}"
  integrity="{{ $styles.Data.Integrity }}"
/>

{{ $tw := resources.Get "tailwind/tailwind.css" | postCSS | minify | fingerprint
}}
<link
  rel="stylesheet"
  href="{{ $tw.RelPermalink }}"
  integrity="{{ $tw.Data.Integrity }}"
/>

{{ block "head" . }}{{ end }}
