<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap"
      rel="stylesheet"
    />
    {{ $css := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    {{ partial "header.html" . }}

    <main>{{ block "main" . }}{{ end }}</main>

    {{ partial "footer.html" . }}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".faq-question").forEach((question) => {
          question.addEventListener("click", () => {
            const item = question.parentElement;
            item.classList.toggle("active");
          });
        });

        // Set the first FAQ item to active by default
        const firstFaqItem = document.querySelector(".faq-item");
        if (firstFaqItem) {
          firstFaqItem.classList.add("active");
        }
      });
    </script>
  </body>
</html>
